@{
    ViewData["Title"] = "About Us";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<h2>About US</h2>


    <h4>Our company produces and sells high-quality keyboards.</h4>

<img src="~/img/02.jpg" />

    <p>
        Founded in 1672 by Hyun-jun Lee, the company is globally...
    </p>